<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="styles.css" />
  <title>Resume - Alistair Pattison</title>
</head>

<body>

    {{> header}}
    <hr class="w-3/4 mx-auto my-3" />
    {{> main}}
    <hr class="w-3/4 mx-auto my-3" />
    {{> footer}}
</body>

</html>