<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="{{ info.name }}'s Resume" />
  <meta name="keywords" content="{{ info.keywords }}" />

  <link rel="stylesheet" href="styles.css" />
  <title>{{ info.name }}</title>
</head>

<body class="p-24 print:p-[1in] mx-auto m-24 print:m-0 border print:border-none border-gray-300 max-w-5xl">

    {{> header}}
    <hr class="w-3/4 mx-auto my-3" />

    {{#each sections}}
      {{> section this}}
    {{/each}}

    <hr class="w-3/4 mx-auto my-3" />
    {{> footer}}

</body>

</html>